@model EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<br />
<div class="card">
    <div class="card-header">
        <h4>Edit user</h4>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="container-fluid">
                <div class="row justify-content-around">
                    <div class=col-6>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FullName"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <label asp-for="Birthdate"></label>
                            <input asp-for="Birthdate" class="form-control" />
                            <span asp-validation-for="Birthdate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <label asp-for="City"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-outline-success">Update</button>
                                <a asp-action="Index" class="btn btn-outline-primary">
                                    <i class="fa-solid fa-right-from-bracket"></i>&nbsp; Back
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <br />
                        <div class="card mt-lg-3">
                            <div class="card-header">
                                <h5>User Roles</h5>
                            </div>
                            <div class="card-body">
                                @if (Model.Roles.Any())
                                {
                                    foreach (var role in Model.Roles)
                                    {
                                        <p class="card-title">@role</p>
                                    }
                                }
                                else
                                {
                                    <p>None at th moment</p>
                                }
                            </div>
                            <div class="card-footer">
                                <a asp-action="ManageUserRoles" asp-route-userid="@Model.Id"  style="width:auto" class="btn btn-outline-primary">
                                    Manage Roles
                                </a>
                            </div>
                        </div>
                        <div class="card mt-2">
                            <div class="card-header">
                                <h5>User Claims</h5>
                            </div>
                            <div class="card-body">
                                @if (Model.Claims.Any())
                                {
                                    foreach (var claim in Model.Claims)
                                    {
                                        <p class="card-title">@claim</p>
                                    }
                                }
                                else
                                {
                                    <p>None at the moment</p>
                                }
                            </div>
                            <div class="card-footer">
                                <a asp-action="ManageUserClaims" asp-route-Userid="@Model.Id" style="width:auto" class="btn btn-outline-primary">
                                    Manage Claims
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}